
.demo{    
    themePrimary : #008c99;
    themeLighterAlt : #f1fafb;
    themeLighter : #c8ebef;
    themeLight : #9ddbe0;
    themeTertiary : #4eb8c2;
    themeSecondary : #1499a5;
    themeDarkAlt : #007e8a;
    themeDark : #006b74;
    themeDarker : #004f56;
    neutralLighterAlt : #f8f8f8;
    neutralLighter : #f4f4f4;
    neutralLight : #eaeaea;
    neutralQuaternaryAlt : #dadada;
    neutralQuaternary : #d0d0d0;
    neutralTertiaryAlt : #c8c8c8;
    neutralTertiary : #b8cae6;
    neutralSecondary : #7c9bcd;
    neutralSecondaryAlt : #7c9bcd;
    neutralPrimaryAlt : #4c74b5;
    neutralPrimary : #3a66ab;
    neutralDark : #2c4d82;
    black : #213960;
    white : #ffffff;
}
    