/* Existing styles */
/* Add your existing CSS here and integrate the new styles below */

/* New styles integration */
.search-form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.form-item {
    flex: 1;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.btn {
    border: 1px solid rgba(0, 140, 153, 0.5) !important;
    color: #008c99 !important;
    background-color: #008c99 !important;
    margin-left: auto !important;
    margin-top: 20px !important;
    color: white !important;
}

.btn:hover {
    background-color: #004f56;
}


@media screen and (max-width: 600px) {
    .search-form {
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    .form-item {
        width: 100%;
        min-width: 0;
        justify-content: unset;
    }

    .btn {
        width: 100%;
    }
}